<section id="stats">
  <div class="container">
    <div class="stats-grid">
      <div class="reveal">
        <div class="stat-number" data-target="143" data-suffix="+">0+</div>
        <div class="stat-label">{{ i18n.t()['stats.p1'] }}</div>
      </div>
      <div class="reveal reveal-delay-1">
        <div class="stat-number" data-target="98" data-suffix="%">0%</div>
        <div class="stat-label">{{ i18n.t()['stats.p2'] }}</div>
      </div>
      <div class="reveal reveal-delay-2">
        <div class="stat-number" data-target="6" data-suffix="yrs">0yrs</div>
        <div class="stat-label">{{ i18n.t()['stats.p3'] }}</div>
      </div>
      <div class="reveal reveal-delay-3">
        <div class="stat-number" data-target="2" data-suffix="M+">0M+</div>
        <div class="stat-label">{{ i18n.t()['stats.p4'] }}</div>
      </div>
    </div>
  </div>
</section>
